body{
    margin: 0;
    padding: 0;
    background-color: #0B8BA4;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
};